body {
  background-color: lightpink;
}
p {font-size:20px;color:blue;
  color: hotpink;
font-family: cursive;
  font-style:oblique;
  text-decoration: underline;
}
div {
  border:dashed purple 50px;
  border-radius:50px; 
  height:100px;
  width: 200px;
  margin: 10px;
}